In [4]:
import datetime

datetime.time(9,00)

datetime.time(9, 0)

In [11]:
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://skaxogusdl:skaclxo661@southdb.h5j75si.mongodb.net/?retryWrites=true&w=majority&appName=SOUTHDB"
client = MongoClient(uri)
client.admin.command('ping')
db = client.mydb

In [12]:
doc = {'name':'amy','age':25} # 데이터 하나
db.users.insert_one(doc)

In [15]:
    all_entry = dict()

    all_players = ["김동선" ,"김선광" ,"김성재" ,"김영목" ,"김은민" ,"김철영" ,"남태현" ,"민병인" ,"박창후" ,"서윤찬" ,"서종민" ,"소지호" ,"이병훈" ,"이산호" ,"이재성" ,"이종현" ,"정지원" ,"조성민" ,"조영수" ,"차민재" ,"차종수" ,"최민규" ,"최형근" ,"최형주" ,"구형준" ,"홍태호", "용병1", "용병2", "용병3", "용병4", "용병5" ]
    all_main_position = ["WB", "CF", "CB", "CM", "CM", "WB", "CM", "GK", "WF", "WF", "CB", "WF", "CB", "WF", "CF", "WF", "WF", "WB", "CM", "WF", "CF", "CB", "CM", "WB", "CF", "CM", "", "", "", "", ""]
    all_sub_position = [["GK"], ["CM", "WB"], ["WB"], ["CB"], ["WB"], ["CB", "CF"], ["CB", "WB"], [], ["CM","WM","WB"], ["CM","CF"], ["WB", "WF"], ["CM", "WB"], ["CM", "WB"], ["WB", "WM"], ["WF", "CM", "WM"], ["CM", "WM", "CF"], ["CF", "WB"], ["CB"], ["WB"], [], ["WB", "GK"], ["CM"], ["WF", "WB", "CF"], ["CM"], ["WF", "WB"], ["WF", "CF"], [], [], [], [], []]

    for i, j, k in zip(all_players, all_main_position, all_sub_position):
        all_entry[i] = {"주포지션":j,"부포지션":k}

In [20]:
import json
with open("./all_entry.json", "w") as f:
    json.dump(all_entry, f, ensure_ascii=False, indent=4)

In [25]:
with open("./all_entry.json", "r") as f:
    a = json.load(f)
a

{'김동선': {'주포지션': 'WB', '부포지션': ['GK']},
 '김선광': {'주포지션': 'CF', '부포지션': ['CM', 'WB']},
 '김성재': {'주포지션': 'CB', '부포지션': ['WB']},
 '김영목': {'주포지션': 'CM', '부포지션': ['CB']},
 '김은민': {'주포지션': 'CM', '부포지션': ['WB']},
 '김철영': {'주포지션': 'WB', '부포지션': ['CB', 'CF']},
 '남태현': {'주포지션': 'CM', '부포지션': ['CB', 'WB']},
 '민병인': {'주포지션': 'GK', '부포지션': []},
 '박창후': {'주포지션': 'WF', '부포지션': ['CM', 'WM', 'WB']},
 '서윤찬': {'주포지션': 'WF', '부포지션': ['CM', 'CF']},
 '서종민': {'주포지션': 'CB', '부포지션': ['WB', 'WF']},
 '소지호': {'주포지션': 'WF', '부포지션': ['CM', 'WB']},
 '이병훈': {'주포지션': 'CB', '부포지션': ['CM', 'WB']},
 '이산호': {'주포지션': 'WF', '부포지션': ['WB', 'WM']},
 '이재성': {'주포지션': 'CF', '부포지션': ['WF', 'CM', 'WM']},
 '이종현': {'주포지션': 'WF', '부포지션': ['CM', 'WM', 'CF']},
 '정지원': {'주포지션': 'WF', '부포지션': ['CF', 'WB']},
 '조성민': {'주포지션': 'WB', '부포지션': ['CB']},
 '조영수': {'주포지션': 'CM', '부포지션': ['WB']},
 '차민재': {'주포지션': 'WF', '부포지션': []},
 '차종수': {'주포지션': 'CF', '부포지션': ['WB', 'GK']},
 '최민규': {'주포지션': 'CB', '부포지션': ['CM']},
 '최형근': {'주포지션': 'CM', '부포지션': ['WF', 'WB', 'CF']},
 '최형주': {'주포지션': 'WB', '부포지션': ['CM']},
 '구형준': {'주포지션': 'CF', '부포지션': ['WF', 'WB']},
 '홍태호': {'주포지션': 'CM', '부포지션': ['WF', 'CF']},
 '용병1': {'주포지션': '', '부포지션': []},
 '용병2': {'주포지션': '', '부포지션': []},
 '용병3': {'주포지션': '', '부포지션': []},
 '용병4': {'주포지션': '', '부포지션': []},
 '용병5': {'주포지션': '', '부포지션': []}}

In [28]:
for i in ['김성재', '김영목', '남태현', '박창후', '민병인', '김철영', '서윤찬']:
    print({"선수명":i, "주포지션":a[i]["주포지션"], "부포지션":a[i]["부포지션"]})

{'선수명': '김성재', '주포지션': 'CB', '부포지션': ['WB']}
{'선수명': '김영목', '주포지션': 'CM', '부포지션': ['CB']}
{'선수명': '남태현', '주포지션': 'CM', '부포지션': ['CB', 'WB']}
{'선수명': '박창후', '주포지션': 'WF', '부포지션': ['CM', 'WM', 'WB']}
{'선수명': '민병인', '주포지션': 'GK', '부포지션': []}
{'선수명': '김철영', '주포지션': 'WB', '부포지션': ['CB', 'CF']}
{'선수명': '서윤찬', '주포지션': 'WF', '부포지션': ['CM', 'CF']}

In [127]:
import pandas as pd
players = ['김성재', '김영목', '남태현', '박창후', '민병인', '김철영', '서윤찬']
all_players_list = list(all_entry.keys())
all_players_dict= all_entry
df = pd.DataFrame([{"선수명":p, "주포지션":all_players_dict[p]["주포지션"], "부포지션":all_players_dict[p]["부포지션"]} for p in players])


main_pos_list = []
for i in ['GK','CB', 'WB', 'CM', 'WM', 'CF', 'WF']:
    if i == 'GK_tmp':
        main_pos_list.append(0)    
    else:
        main_pos_list.append((df['주포지션'] == i).sum())
main_pos_list

[1, 1, 1, 2, 0, 0, 2]

In [181]:
# chart_data= pd.DataFrame(
#     {"position": ['1.골키퍼', '2.수비수', '3.미드필더', '4.공격수'], "중앙": main_pos_list[:4], "윙": main_pos_list[4:]}
# )

chart_data= pd.DataFrame(
    {"포지션": ['1.골키퍼', '2.수비수', '2.수비수', '3.미드필더', '3.미드필더', '4.공격수', '4.공격수'], "위치": ['중앙'] + ['중앙', '윙']*3, "수": main_pos_list}
)
chart_data
# chart_data['수'].values

      포지션  위치  수
0   1.골키퍼  중앙  1
1   2.수비수  중앙  1
2   2.수비수   윙  1
3  3.미드필더  중앙  2
4  3.미드필더   윙  0
5   4.공격수  중앙  0
6   4.공격수   윙  2

In [208]:
a = [1, 3, 2, 3, 0, 1, 4]

pd.DataFrame([a[0]], columns=['중앙'])
pd.DataFrame([[a[1],a[4]]], columns=['중앙', '윙'])
pd.DataFrame([[a[2],a[5]]], columns=['중앙', '윙'])
pd.DataFrame([[a[3],a[6]]], columns=['중앙', '윙'])

   중앙  윙
0   3  4